body{
    background-color: black;
    height: 100vh;
}
header{
    height: 100%;
}

footer{
    background-color: #A6A6A6;
}

.PageContenu{
    background-color: #262626;
}
.MarginTop{
    height: 20%;
   background-image: linear-gradient(black,  #262626);
}

.NousServicesTexte{
    margin: 7%;
    color: #D9D9D9;
}
.TitlePage{
    margin-bottom: 50px;
    height: 300px;

}
.NousServiceImage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.NousServicesTitle{
  margin: auto;
    background-color: #CCB012;
    color: black;
    font-size: 34px;
    border-radius: 20px 40px;
}

.FormulaireContact{
    width: 70%;
    margin: auto;
}
.QuiSommesNousImg{
    background-color: #737373;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100px;
}